# Telegram Bot Token (получить у @BotFather)
TELEGRAM_BOT_TOKEN=8323785191:AAF3e7NLFoqdO4R0emS5JDuMHhS7JCLJWy8

# Backend API URL
BACKEND_URL=http://backend:8000

# Спецфразы для ошибок (опционально)
ERROR_5XX_PHRASE=Произошла внутренняя ошибка сервера. Попробуйте позже.

# Максимальный размер файла в байтах (20 МБ)
MAX_FILE_SIZE=20971520

